@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  /* color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
    background-color: black;
    color: white;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.icon-glow {
  @apply relative text-gray-600 transition duration-300 ease-in-out transform;
}

.icon-glow::before {
  content: '';
  @apply absolute inset-0 rounded-full opacity-0;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.6), 0 0 30px rgba(255, 255, 255, 0.4);
  transition: opacity 0.2s ease-in-out;
}

.icon-glow:hover {
  @apply text-blue-500 scale-110;
}

.icon-glow:hover::before {
  @apply opacity-100;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 12px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgba(73, 190, 190, 0.463);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #202627;
  border-radius: 6px;
  border: 1px solid #152d5d;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #283fb1;
}
